<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hola Mundo soy Angel Navarro CI 30.595.926 Sección 2 de programación 3<%= title %></p>
  </body>
</html>
