<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/creeper.css'>
    <link rel="icon" type="image/x-icon" href="img/Dental.png" />
    <title>Login de Clientes</title>
</head>
<body>
    <div class="box">
        <span class="borderline">
        <form>
            <h2>Iniciar Sesión</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Nombre</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Apellido</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Ciudad</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Contraseña</span>
                <i></i>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>